body {
	font-size: 32px;
}

#container {
	min-height: 90vw;
	width: 95vw;
	margin-left: 2.5vw;
	background-color: grey;
	/*padding: 2vw;*/
	float: left;
	clear: both;
}

#menuheader {
	float: left;
	clear: both;
	min-height: 4vw;
	width: 81vw; 
	padding: 3vw;

	margin-left: 5vw;
	/*background-color: silver;*/
	background-color: #591e28;
}

#textarea {
	float: left;
	clear: both;
	min-height: 40vh;
	width: 81vw;
	padding: 3vw;
	margin-left: 5vw;
	color: white;
	background-color: black;
	/*font-size: 24pt;*/
}


.menubox {
	min-width: 8vw;
	/* width is measured in units viewport width    vw  there is also vh for height */
	background-color: black;
	font-size: 32pt;
	color: white; 
	float: left;
	margin: .5vw;
	padding: 1vw;
	border-radius: 10vw; 
	text-align: center;
	border: .5vw white solid;
}


.smallbox {
	height: 10vw;
	width: 10vw;
	background-color: red;
}


/* unvisited link */
a:link {
    /*color: maroon;*/
    color: #d1758b ;
    text-decoration: none;
}

/* visited link */
a:visited {
    /*color: maroon;*/
    color: #d1758b ;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: hotpink;
    text-decoration: none;
}

/* selected link */
a:active {
    color: red;
    text-decoration: none;
}



