* {
	box-sizing: border-box;
}

.redtext {
	color: red;
}

.pinktext {
	color: pink;
}



body {
	background-color: grey;
	font-size: 22px;
	margin: 0;
	padding: 0;
}

p {
font-size: 15pt;
padding-bottom: 38px;
padding-left: 20px;
padding-right: 20px;
/* the padding moves the text away from other objects */
background-color: grey;
color: white;
font-family: Comic Sans MS;	
/* this is a middle school teacher's favorite font */

/* for a long URL word wrap the text */
overflow-wrap: break-word;
word-wrap: break-word;
-ms-word-break: break-all;
word-break: break-all;
word-break: break-word;
-ms-hyphens: auto;
-moz-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;
}



#container {
	min-height: 90vw;
	width: 86vw;
	margin: 0 auto;
	/* need to examanie this more */
}

#menuheader {
	float: left;
	clear: both;
	min-height: 4vw;
	width: 100%;
	padding: 3vw;
	background-color: #591e28;
}

#textarea {
	float: left;
	clear: both;
	min-height: 40vh;
	width: 100%;
	padding: 3vw;
	color: white;
	background-color: black;
}


.menubox {
	min-width: 8vw;
	/* width is measured in units viewport width    vw  there is also vh for height */
	background-color: black;
	color: white;
	display: block;
	float: left;
	margin: .5vw;
	padding: 1vw;
	border-radius: 7vw;
	text-align: center;
	border: .5vw white solid;
}

.menubox:hover {
	padding-top:    2vh;
	padding-bottom: 2vh;
    background-color: grey;
    width: 300px;
}


.smallbox {
	height: 10vw;
	width: 10vw;
	background-color: red;
}


/* unvisited link */
a:link {
       color: yellow;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #d1758b ;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: hotpink;
    text-decoration: none;
}

/* selected link */
a:active {
    color: red;
    text-decoration: none;
}

.pictureframe {
max-width: 100%;
height: auto;
display: block;
margin: auto;
width: 50%;

}